
body {
	background-color: #ddd;
}

h1 {
	font-size: 60px;
	font-family: Helvetica;
	margin: 10px 0px 0px 40px;
}

p {
	margin-top: 5px;
	margin-left: 40px;
}

h2 {
	height: 30px;
	width: 1020px;
	margin: 10px auto;
	text-align: center;
}

section {
  height: 500px;
	width: 1020px;
  border: 4px double #222;
	margin: 0px auto;
}

/*ul {
	margin: 10% auto;
	border: 2px dotted red;
	position: relative;
}*/

img {
	display: inline-block;
	margin-left: 6%;
	list-style: none;
	max-height: 250px;
  max-width: 25%;
	border: 1px solid black;
	vertical-align: middle;
}

#image_two {
	margin: 10% 4% 0px 7%;
}

#image_tre {
	float: right;
	position: relative;
	margin-left: 0px;
	margin-right: 6%;
}
